<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!-- BOOTSTRAP NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CRUD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="btn btn-link" onclick="window.location.href='/'">Inicio</button>
      </li>
    </ul>
  </div>
</nav>

<div class="mx-auto mt-4 mb-4" style="width: 300px;">
    <h2>Agregar producto</h2>
</div>


<div class="card mx-auto p-4" style="width:500px;">

<form method="POST" action="/addProduct" >
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre: </label>
    <input type="text" class="form-control" id="name"  name="name" placeholder="Nombre de producto">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Descripción:</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Descripción de producto">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Precio:</label>
    <input type="number" class="form-control" id="price" name="price" placeholder="Precio de producto">
  </div>
  
  <button type="submit" class="btn btn-primary" value="add">Agregar</button>
</form>

</div>


<!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>